<!DOCTYPE html>
<html>
<head>

    <div style="float:right;">
        <% if(typeof fname !== "undefined") { %>
        Welcome, <%= fname %>
        <% } else { %>
        <a href="/login">Login</a>
        <% if(typeof fname !== "undefined") { %><a href="/logout">Logout</a><% } %>
        <% } %>
        <br>
        <% if(typeof fname !== "undefined") { %><a href="/logout">Logout</a><% } %>
    </div>



    <% if (typeof js_includes !== 'undefined') { %>
    <% for(var i=0; i < js_includes.length; i++) { %>
    <script src="<%= js_includes[i] %>"></script>
    <% }%>
    <% }%>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

        table, th, td {
            border: 1px solid blue;
        }

        #header {
            background-color:beige;
        }

        #nav {
            background-color:beige;
            float:left;
            padding:10px;
            height:400px;
        }

        #content {
            float:left;
            text-align:left;
            padding:50px;

        }

        #footer {
            position:absolute;bottom:0;
            width:750px;
            background-color:beige;
            text-align:center;
            float:bottom;
            padding:5px;
        }

    </style>
</head>
<body>

<div id="header">
    <img src="http://www.cs.sonoma.edu/~haderman/cs355/labs/cs355.png">
</div>

<br>
<br>

<div id="nav">
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br/>
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br/>
    <a href="helloworld.html">Relative Link Example</a>
    <br/>
    <a href ="/templateLink">Template Link Example</a>
    <br/>
    <a href ="/movie/all">Get All Movies</a>
    <br/>
    <br/>
    <a href ="/users/all">Get All Users</a>
    <br/>
    <br/>
    <a href="http://www.cs.sonoma.edu">Sonoma State Computer Science</a>
    <br/>
    <a href="http://www.cs.sonoma.edu/~haderman">Haderman's Website</a>
    <br/>
    <a href="http://www.sonoma.edu">Sonoma State</a>
</div>