<% if(rs.length > 0) { %>
Title: <%= rs[0].movie_title %>

<ul>
    <% for(var i=0; i < rs.length; i++) {%>
        <li><%= rs[i].genre_name %> </li>
    <% } %>
</ul>
<ul>

</ul>
<% } else { %>
There is no genre for <%= movie_id %>.
<% } %>