<% var js_includes = 'test' %>
<% include partials/header %>

<h1>Edit Movie </h1>



<form method="POST" action="/movie/update_movie">
    <input type="hidden" name="movie_id" value="<%= rs[0].movie_id %>" />
    Title <input type="text" id="title" name="title" value="<%= rs[0].movie_title%>" /><br /> <br />
    Tag Line<textarea name="tagline"></textarea><%= rs[0].tagline %><br /><br />

    Genre(s)</br>
    <% for( var i = 0; i < genres.length; i++) { %>
    <input type="checkbox" name="genre_id" id="genre_id" value="<%= genres[i].genre_id %>"><%= genres[i].genre %> <br />
    <% } %>

    <br />

        <button id="addBtn">Edit</button>
</form>


<% include partials/footer %>